<div class="conatiner">
    <div class="row">
        <div class="col">
            <h1>Add movie to watch list</h1>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="movie-title">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>